apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  annotations:
    check_path: .metadata.namespace
    description: The default namespace should not be used for custom workloads
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.6.4']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Namespaces']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242383']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['16.1.a']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Code that uses namespaces to isolate Kubernetes resources.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: NS-001
  name: ns-001-use-default-namespace-dedicated-sa
  namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    check_path: .metadata.namespace
    description: The default namespace should not be used for custom workloads
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.6.4']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Namespaces']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242383']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['16.1.a']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Code that uses namespaces to isolate Kubernetes resources.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: NS-001
  name: ns-001-use-default-namespace
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kalm-benchmark
      check: NS-001
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/app: runtime/default
        container.seccomp.security.alpha.kubernetes.io/pod: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app.kubernetes.io/part-of: kalm-benchmark
        check: NS-001
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
              weight: 1
      automountServiceAccountToken: false
      containers:
        - env: []
          image: nginx@sha256:aed492c4dc93d2d1f6fe9a49f00bc7e1863d950334a93facd8ca1317292bf6aa
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
          name: app
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
          resources:
            limits:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
            requests:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 31337
            runAsNonRoot: true
            runAsUser: 31337
            seLinuxOptions:
              level: s0:c123,c456
            seccompProfile:
              type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      nodeSelector:
        kubernetes.io/arch: amd64
      priorityClassName: default-priority
      securityContext:
        runAsGroup: 31337
        runAsNonRoot: true
        runAsUser: 31337
        seLinuxOptions:
          level: s0:c123,c456
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: ns-001-use-default-namespace-dedicated-sa
