apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  annotations:
    check_path: .spec.containers[].securityContext.readOnlyRootFilesystem
    description: Using an immutable root filesystem prevents against attackers from compromising the machine through permanent local changes.
    expected: alert
    standards: "[{'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Immutable container file systems']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['8.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Configure the root filesystem to be read-only with readOnlyRootFilesystem: true.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Apply security context to your pods and containers']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-033-2
  name: pod-033-2-root-fs-is-explicitly-writeable-dedicated-sa
  namespace: kalm-benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    check_path: .spec.containers[].securityContext.readOnlyRootFilesystem
    description: Using an immutable root filesystem prevents against attackers from compromising the machine through permanent local changes.
    expected: alert
    standards: "[{'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Immutable container file systems']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['8.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Configure the root filesystem to be read-only with readOnlyRootFilesystem: true.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Apply security context to your pods and containers']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-033-2
  name: pod-033-2-root-fs-is-explicitly-writeable
  namespace: kalm-benchmark
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kalm-benchmark
      check: POD-033-2
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/app: runtime/default
        container.seccomp.security.alpha.kubernetes.io/pod: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app.kubernetes.io/part-of: kalm-benchmark
        check: POD-033-2
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
              weight: 1
      automountServiceAccountToken: false
      containers:
        - env: []
          image: nginx@sha256:aed492c4dc93d2d1f6fe9a49f00bc7e1863d950334a93facd8ca1317292bf6aa
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
          name: app
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
          resources:
            limits:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
            requests:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: false
            runAsGroup: 31337
            runAsNonRoot: true
            runAsUser: 31337
            seLinuxOptions:
              level: s0:c123,c456
            seccompProfile:
              type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      nodeSelector:
        kubernetes.io/arch: amd64
      priorityClassName: default-priority
      securityContext:
        runAsGroup: 31337
        runAsNonRoot: true
        runAsUser: 31337
        seLinuxOptions:
          level: s0:c123,c456
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: pod-033-2-root-fs-is-explicitly-writeable-dedicated-sa
