apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  annotations:
    check_path: .metadata.annotations|.metadata.annotations.container.apparmor.security.beta.kubernetes.io/nginx|.metadata.annotations.container.apparmor.security.beta.kubernetes.io|.metadata.annotations[container.apparmor.security.beta.kubernetes.io]|.spec.securityContext.seccompProfile|.spec.securityContext.seLinuxOptions|.spec.containers[].securityContext.seccompProfile|.spec.containers[].securityContext.seLinuxOptions
    description: Not hardening a linux system can increase the impact of a compromise
    expected: pass
    standards: "[{'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Hardening container environments']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242437']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A4']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['9.1.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9011']}, {'standard': 'Kubernetes Security Checklist', 'controls': [\"Restrict a Container's Access to Resources with AppArmor\", 'Assign SELinux Labels to a Container.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Use Pod security policies to control the security-related attributes of pods, which includes container privilege levels.', 'Prevent containers from loading unwanted kernel modules.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-022-3
  name: pod-022-3-one-approach-to-hardening-linux-is-enough-dedicated-sa
  namespace: kalm-benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    check_path: .metadata.annotations|.metadata.annotations.container.apparmor.security.beta.kubernetes.io/nginx|.metadata.annotations.container.apparmor.security.beta.kubernetes.io|.metadata.annotations[container.apparmor.security.beta.kubernetes.io]|.spec.securityContext.seccompProfile|.spec.securityContext.seLinuxOptions|.spec.containers[].securityContext.seccompProfile|.spec.containers[].securityContext.seLinuxOptions
    description: Not hardening a linux system can increase the impact of a compromise
    expected: pass
    standards: "[{'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Hardening container environments']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242437']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A4']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['9.1.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9011']}, {'standard': 'Kubernetes Security Checklist', 'controls': [\"Restrict a Container's Access to Resources with AppArmor\", 'Assign SELinux Labels to a Container.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Use Pod security policies to control the security-related attributes of pods, which includes container privilege levels.', 'Prevent containers from loading unwanted kernel modules.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-022-3
  name: pod-022-3-one-approach-to-hardening-linux-is-enough
  namespace: kalm-benchmark
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kalm-benchmark
      check: POD-022-3
  template:
    metadata:
      annotations: {}
      labels:
        app.kubernetes.io/part-of: kalm-benchmark
        check: POD-022-3
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
              weight: 1
      automountServiceAccountToken: false
      containers:
        - env: []
          image: nginx@sha256:aed492c4dc93d2d1f6fe9a49f00bc7e1863d950334a93facd8ca1317292bf6aa
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
          name: app
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
          resources:
            limits:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
            requests:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 31337
            runAsNonRoot: true
            runAsUser: 31337
            seccompProfile:
              type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      nodeSelector:
        kubernetes.io/arch: amd64
      priorityClassName: default-priority
      securityContext:
        runAsGroup: 31337
        runAsNonRoot: true
        runAsUser: 31337
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: pod-022-3-one-approach-to-hardening-linux-is-enough-dedicated-sa
