apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  annotations:
    check_path: .spec.securityContext.runAsGroup|.spec.containers[].securityContext.runAsGroup
    description: An GID above 1000 is enough to avoid running as a system user
    expected: pass
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.2.7']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['`Non-root` containers and `rootless` container engines']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242437']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A4']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['12.3.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9013']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Appropriate Pod Security Standards policy is applied for all namespaces and enforced.', 'Set runAsNonRoot: true', 'Configure the container to execute as a less privileged user (for example, using runAsUser and runAsGroup), and configure appropriate permissions on files or directories inside the container image.', 'Container images are configured to be run as an unprivileged user.', 'Build images to directly start with unprivileged user.', 'The Security Context allows a container image to be started with a specific user and group with runAsUser and runAsGroup, even if not specified in the image manifest.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-019-2
  name: pod-019-2-use-gid-between-1k-10k-on-pod-dedicated-sa
  namespace: kalm-benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    check_path: .spec.securityContext.runAsGroup|.spec.containers[].securityContext.runAsGroup
    description: An GID above 1000 is enough to avoid running as a system user
    expected: pass
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.2.7']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['`Non-root` containers and `rootless` container engines']}, {'standard': 'CIS Kubernetes STIG', 'controls': ['V-242437']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A4']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['12.3.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9013']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Appropriate Pod Security Standards policy is applied for all namespaces and enforced.', 'Set runAsNonRoot: true', 'Configure the container to execute as a less privileged user (for example, using runAsUser and runAsGroup), and configure appropriate permissions on files or directories inside the container image.', 'Container images are configured to be run as an unprivileged user.', 'Build images to directly start with unprivileged user.', 'The Security Context allows a container image to be started with a specific user and group with runAsUser and runAsGroup, even if not specified in the image manifest.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: POD-019-2
  name: pod-019-2-use-gid-between-1k-10k-on-pod
  namespace: kalm-benchmark
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kalm-benchmark
      check: POD-019-2
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/app: runtime/default
        container.seccomp.security.alpha.kubernetes.io/pod: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app.kubernetes.io/part-of: kalm-benchmark
        check: POD-019-2
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
              weight: 1
      automountServiceAccountToken: false
      containers:
        - env: []
          image: nginx@sha256:aed492c4dc93d2d1f6fe9a49f00bc7e1863d950334a93facd8ca1317292bf6aa
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
          name: app
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
          resources:
            limits:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
            requests:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 31337
            seLinuxOptions:
              level: s0:c123,c456
            seccompProfile:
              type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      nodeSelector:
        kubernetes.io/arch: amd64
      priorityClassName: default-priority
      securityContext:
        runAsGroup: 1337
        runAsNonRoot: true
        runAsUser: 31337
        seLinuxOptions:
          level: s0:c123,c456
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: pod-019-2-use-gid-between-1k-10k-on-pod-dedicated-sa
