apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    ccss_score: "9.0"
    ccss_severity: Critical
    check_path: ClusterRole.rules[].resources|ClusterRole.rules[].verbs|Role.rules[].resources|Role.rules[].verbs|.rules[].resources|.rules[].verbs
    description: Review users who can create service account tokens.
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.1.13']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Authentication']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A9']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['1.5.b']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9003']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-026-4
  name: rbac-026-4-role-allow-create-sa-token
  namespace: kalm-benchmark
rules:
  - apiGroups:
      - ""
    resources:
      - serviceaccounts/token
    verbs:
      - create
