apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    ccss_score: "9.0"
    ccss_severity: Critical
    check_path: ClusterRole.rules[].verbs|ClusterRole.rules[].resources|Role.rules[].verbs|Role.rules[].resources|.rules[].verbs|.rules[].resources
    description: The impersonate privilege allows a subject to impersonate other users gaining their rights to the cluster
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.1.8']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Role-Based Access Control']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A9']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['1.5.b']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9003']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Avoid creating RBAC permissions to create or update roles which can lead to privilege escalation.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Use Pod security policies to control the security-related attributes of pods, which includes container privilege levels']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-009-2
  name: rbac-009-2-cluster-role-bind-default-sa
  namespace: kalm-benchmark
rules:
  - apiGroups:
      - ""
    resources:
      - users
      - groups
      - serviceaccounts
    verbs:
      - impersonate
