apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    check_path: ClusterRoleBinding.subjects[].name|RoleBinding.subjects[].name|.subjects[].name
    description: all service accounts should be bound to roles
    expected: alert
    standards: "[{'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Role-Based Access Control']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['2.1.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9003']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['The Role Based Access Control Practices are followed for guidance related to authentication and authorization.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Implementing Role Based Access Control in Kubernetes']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-016
  name: rbac-016-ronin-sa
  namespace: kalm-benchmark
