apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    ccss_score: "7.1"
    ccss_severity: High
    check_path: ClusterRole.rules[].verbs|Role.rules[].verbs|.rules[].verbs
    description: "an attacker can poison the DNS server if he can modify configuration of the coreDNS server "
    expected: alert
    standards: "[]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-015-3
  name: rbac-015-3-cluster-role-poison-dns
  namespace: kalm-benchmark
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - update
