apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  annotations:
    check_path: ClusterRoleBinding.subjects[].name|RoleBinding.subjects[].name|.subjects[].name|ClusterRoleBinding.subjects[].kind|RoleBinding.subjects[].kind|.subjects[].kind
    description: the default servicaccount should never be actively used
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.1.5']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Protecting Pod service account tokens']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A9']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['1.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': [\"Service account tokens are not mounted in pods that don't require them.\", 'Avoid using the default ServiceAccount. Instead, create dedicated ServiceAccounts for each workload.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Use Pod security policies to control the security-related attributes of pods, which includes container privilege levels.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-007-1
  name: rbac-007-1-role-binds-default-serviceaccount-rb-rbac-007-1-role-bind-default-sa
  namespace: kalm-benchmark
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rbac-007-1-role-bind-default-sa
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: default
    namespace: kalm-benchmark
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    check_path: ClusterRoleBinding.subjects[].name|RoleBinding.subjects[].name|.subjects[].name|ClusterRoleBinding.subjects[].kind|RoleBinding.subjects[].kind|.subjects[].kind
    description: the default servicaccount should never be actively used
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.1.5']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Protecting Pod service account tokens']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A9']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['1.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': [\"Service account tokens are not mounted in pods that don't require them.\", 'Avoid using the default ServiceAccount. Instead, create dedicated ServiceAccounts for each workload.']}, {'standard': 'OWASP Kubernetes Security Cheat Sheet', 'controls': ['Use Pod security policies to control the security-related attributes of pods, which includes container privilege levels.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-007-1
  name: rbac-007-1-role-bind-default-sa
  namespace: kalm-benchmark
rules: []
