apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    check_path: ClusterRole.rules[].resources|Role.rules[].resources|.rules[].resources|.rules[].resources.pods.exec|.rules[].resources.pods.attach
    description: Allowing wildcards violates principle of least privilege
    expected: alert
    standards: "[{'standard': 'CIS Kubernetes Benchmark', 'version': '1.12', 'controls': ['5.1.3']}, {'standard': 'NSA-CISA Kubernetes Hardening Guide', 'controls': ['Role-based access control']}, {'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A9']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['2.1.a']}, {'standard': 'Microsoft Threat Matrix for Kubernetes', 'controls': ['MS-M9003']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-003-1
  name: rbac-003-1-all-resource-reader
  namespace: kalm-benchmark
rules:
  - apiGroups:
      - ""
    resources:
      - "*"
    verbs:
      - get
