apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    ccss_score: "8.5"
    ccss_severity: High
    check_path: ClusterRole.rules[].resources|ClusterRole.rules[].verbs|Role.rules[].resources|Role.rules[].verbs|.rules[].resources|.rules[].verbs
    description: Attackers can use disclosed information to plan their next steps
    expected: alert
    standards: "[]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: RBAC-012-3
  name: rbac-012-3-role-disclose-info
  namespace: kalm-benchmark
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - pods
      - services
      - deployments
      - replicasets
      - daemonsets
      - statefulsets
      - jobs
      - cronjobs
    verbs:
      - watch
