apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  annotations:
    ccss_score: "6.0"
    ccss_severity: Medium
    check_path: .spec.nodeSelector|.spec.affinity.nodeAffinity
    description: Pods with high risk workloads can be assigned to specific node to separate them from other workloads
    expected: alert
    standards: "[{'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A14']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['16.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Sensitive applications are running isolated on nodes or with specific sandboxed runtimes.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: REL-004-1
  name: rel-004-1-no-nodeselector-or-nodeaffinity-specified-dedicated-sa
  namespace: kalm-benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    ccss_score: "6.0"
    ccss_severity: Medium
    check_path: .spec.nodeSelector|.spec.affinity.nodeAffinity
    description: Pods with high risk workloads can be assigned to specific node to separate them from other workloads
    expected: alert
    standards: "[{'standard': 'BSI APP.4.4 Kubernetes', 'controls': ['APP.4.4.A14']}, {'standard': 'PCI Guidance for Containers and Container Orchestration Tools', 'controls': ['16.2.a']}, {'standard': 'Kubernetes Security Checklist', 'controls': ['Sensitive applications are running isolated on nodes or with specific sandboxed runtimes.']}]"
  labels:
    app.kubernetes.io/part-of: kalm-benchmark
    check: REL-004-1
  name: rel-004-1-no-nodeselector-or-nodeaffinity-specified
  namespace: kalm-benchmark
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kalm-benchmark
      check: REL-004-1
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/app: runtime/default
        container.seccomp.security.alpha.kubernetes.io/pod: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app.kubernetes.io/part-of: kalm-benchmark
        check: REL-004-1
    spec:
      affinity: {}
      automountServiceAccountToken: false
      containers:
        - env: []
          image: nginx@sha256:aed492c4dc93d2d1f6fe9a49f00bc7e1863d950334a93facd8ca1317292bf6aa
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
          name: app
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
          resources:
            limits:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
            requests:
              cpu: 1m
              ephemeral-storage: 1Mi
              memory: 1Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 31337
            runAsNonRoot: true
            runAsUser: 31337
            seLinuxOptions:
              level: s0:c123,c456
            seccompProfile:
              type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      nodeSelector:
        kubernetes.io/arch: amd64
      priorityClassName: default-priority
      securityContext:
        runAsGroup: 31337
        runAsNonRoot: true
        runAsUser: 31337
        seLinuxOptions:
          level: s0:c123,c456
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: rel-004-1-no-nodeselector-or-nodeaffinity-specified-dedicated-sa
